
/* carousel */
#carouseles{
    color: azure;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.6) 80%);
text-align: center;
height: 1350px;
}
#carouseles>h1{
    padding: 50px 0px;
}
#carouseles>p{
    padding: 90px 0px;
    font-size: 2.5rem;
}

.carousel-item {
    height: 550px;
}
.carousel-imgtex-container{
    width: 33.33%;
    height: 550px;
}
.carousel-item img {
    object-fit: cover;
    object-position: center;
    min-height: 550px;
    position: relative;
}
.carousel-item h5 {
    font-size: 1.1rem;
    position: relative;
    bottom: 80px;
    width: 90%;

    background-color: #7c371563;
    background-size: 100px;
}
