
.headerLite{
    font-family: 'Comfortaa', cursive; color: aliceblue;
    height: 300px;
    background: linear-gradient(180deg, rgb(0 0 0 / 61%) 21%, rgba(52,49,164,0.4) 75%);
}

.logotipo-headerLite{
    width: 8rem;
    margin: 2rem 0rem 1rem 7rem;
}

.icono-user-headerLite{
    font-size: 2.5rem;
    font-weight: bold;
    color: #F77735;
    margin: 4rem 7rem 1rem 0rem;
}

.btnHeaderLite{
    width: 50%;
    margin-top: 1rem;
    margin-left: 7rem;
}
