
header{
    font-family: 'Comfortaa', cursive; color: aliceblue;
    height: 1100px;
    
    background: linear-gradient(180deg, rgb(0 0 0 / 61%) 21%, rgba(52,49,164,0.4) 75%);
}

.logotipo{
    width: 8rem;
    margin: 8rem 0rem 6rem 7rem;
}

.icono-user{
    font-size: 2.5rem;
    font-weight: bold;
    color: #F77735;
    margin: 8rem 7rem 6rem 0rem;
}

.sloganybtns{
    width: 50%;
    margin-left: 8rem;
}
.sloganybtns button{
    height: 48px; width: 176px;
    margin: 2rem 3rem 0rem 0rem   ;
    color: azure;
    background-image: linear-gradient(to right, #ca3d00, #d74f11, #e56020, #f2702e, #ff803c); 
    font-size: 1rem;
    border-radius: 15px;

}
