*{margin: 0; padding: 0} 
body {
  background-repeat: no-repeat;
    /* background-size: auto 2411px; */
    background-position: center right;
    background-image: url("../src/assets/images/2fondo.jpg");

    font-family: 'Comfortaa', cursive; color: aliceblue;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
